body {
		font-family: 'Arbutus';
		font-size: 22px; 
		background-image:url('snakebackground.jpg'); 
		background-repeat:no-repeat; 
		background-size:cover; 
		background-position:center; 
	}
		
.head {
		color:white;
		font-size:60px; 
		text-align:center; 
		font-weight:bold; 
		text-shadow:2px 2px gray;
		background-color:black;
	}
	
.m {
		margin-left:8%; 
		height:500px; 
		width:500px; 
		border:25px solid black; 
		border-radius:10px;
		background-color:#FFD7B5;
		float:left; 
		position:absolute;
	}
		
.snake { 
			border:1px solid white; 
			background-color:blue; 
			height:23px; 
			width:23px;
			border-radius:10px;
			max-width: 23px;
			position:absolute;
		}




#dot { 
		border:0.5px solid white; 	
		background-color:#ff6700; 
		height:23px; 
		width:23px; 
		position:absolute; 
		border-radius:10px;
	}
	
.Instructions {
				position:relative; 
				float:right; 
				font-size:25px;
				color:white;
				margin-right:30%;
			}
			
@media only screen and (max-width: 1100px) 
{
		.Instructions {
						position:relative; 
						float:left; 
						font-size:30px; 
						margin-top:520px; 
						margin-left:100px;
					} 
}
/*   
img
{height:75px;
  width:75px;
  top:5px;
}
body {
		font-family: 'Arbutus';
		font-size: 22px; 
		background-image:url('mohit.jpg'); 
		background-repeat:no-repeat; 
		background-size:cover; 
		background-position:center;
	}
		
.head {
		color:white;
		font-size:60px; 
		text-align:center; 
		font-weight:bold; 
		text-shadow:2px 2px gray;
		background-color:black;
	}
	
.m {
		margin-left:10%; 
		height:500px; 
		width:500px;
		border: 10px dashed black;
		background-color:white; 
		float:left; 
		position:relative;
	}
		
#snake { 
			border:1px solid white; 
			background-color:red; 
			height:23px; 
			width:23px; 
			position:absolute;
		}
		
#dot { 
		border:1px solid white; 	
		background-color:black; 
		height:23px; 
		width:23px; 
		position:absolute; 
		display:none;
	}
	
.Instructions {
				position:relative; 
				float:right; 
				font-size:25px;
				color:white;
				margin-right:26%;
			}
			
@media only screen and (max-width: 1100px) 
{
		.Instructions {
						position:relative; 
						float:left; 
						font-size:30px; 
						margin-top:520px; 
						margin-left:100px;
					} 
}
	 */  